* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    font-size: 16px;
}

.content {
    width: 90%;
    font-size: 0;
    margin: auto;
}

.main, .sidebar {
    display: inline-block;
    font-size: 1rem;
}

.main {
    width: 80%;
}

.sidebar {
    width: 20%;
    vertical-align: top;
    padding: 0 2.5%;
    li {
        list-style-type: none;
        margin-left: 0;
    }
}

h1 {
    font-size: 40px;
}

.page-header {

}

.special-link {

}

.nominee-group {

}

.best-picture-link {

}

.best-actor-link {

}

.best-actress-link {

}

.best-director-link {

}

.best-picture {
    font-size: 0;
    h2 {
        font-size: 24px;
    }
    .nominee {
        width: 25%;
        height: 400px;
        color: white;
    }
}

.best-actor, .best-actress, .best-director {
    font-size: 0;
    h2 {
        font-size: 24px;
    }
    .nominee {
        width: 20%;
    }
}

.best-actor {

}

.best-actress {

}

.best-director {

}

.nominee {
    padding: 2.5%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: bottom;
    h4, p {
        vertical-align: bottom;
    }
}

.boyhood {
    background: url(/images/boyhood-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.american-sniper {
    background: url(/images/american-sniper.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.budapest-hotel {
    background: url(/images/budapest-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.birdman {
    background: url(/images/birdman-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.selma {
    background: url(/images/selma-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.imitation-game {
    background: url(/images/imitation-game-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.theory-of-everything {
    background: url(/images/theory-of-everything-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.whiplash{
    background: url(/images/whiplash-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
